<div class="container">
	<!-- <h1 class="header text-lg font-bold">Card Hover Effect</h1> -->

	<div class="grid grid-cols-12 gap-4 card-conatiner">
		<div class="card col-span-4 border ">
			<img src="../../../assets/images/594shots_so.png" alt="" class="h-full w-full object-cover">


		</div>
		<div class="card col-span-4 border ">
			<img src="../../../assets/images/594shots_so.png" alt="" class="h-full w-full object-cover">

		</div>
		<div class="card col-span-4 border ">
			<img src="../../../assets/images/594shots_so.png" alt="" class="h-full w-full object-cover">

		</div>
	</div>
</div>