<div class="gallary ">
	<div class=" border rounded-lg shadow-lg cursor-pointer" routerLink="/home/card-hover">
		<img src="../../../assets/images/card_hover.png" alt="" class="object-cover h-full w-full">
	</div>
	<div class=" border rounded-lg shadow-lg cursor-pointer"><img src="../../../assets/images/594shots_so.png" alt="" class="object-cover h-full w-full"></div>
	<div class=" border rounded-lg shadow-lg cursor-pointer"><img src="../../../assets/images/594shots_so.png" alt="" class="object-cover h-full w-full"></div>
	<div class=" border rounded-lg shadow-lg cursor-pointer"><img src="../../../assets/images/594shots_so.png" alt="" class="object-cover h-full w-full"></div>
	<div class=" border rounded-lg shadow-lg cursor-pointer"><img src="../../../assets/images/594shots_so.png" alt="" class="object-cover h-full w-full"></div>
	<div class=" border rounded-lg shadow-lg cursor-pointer"><img src="../../../assets/images/594shots_so.png" alt="" class="object-cover h-full w-full"></div>
	<div class=" border rounded-lg shadow-lg cursor-pointer"><img src="../../../assets/images/594shots_so.png" alt="" class="object-cover h-full w-full"></div>
	<div class=" border rounded-lg shadow-lg cursor-pointer"><img src="../../../assets/images/594shots_so.png" alt="" class="object-cover h-full w-full"></div>
</div>
